@import '_font.scss';
@import '_default.scss';
@import '_header.scss';

.bg-yellow{
    color: #4f4a4a;
    background-color: #ffd600;
}

.flex{
    display: flex!important;
    &-column{
        flex-direction: column;
    }
}

.mb-{
    &-1{
        margin-bottom: 0.5rem;
    }
    &-2{
        margin-bottom: 1rem;
    }
}

.h-full{
    height: 100%;
}

.mt{
    &-11{
        margin-top:11rem;
    }
}

.justify{
    &-center{
        justify-content: center;
    }
    &-end{
        justify-content: end;
    }

    &-between{
        justify-content: space-between;
    }

    &-around{
        justify-content: space-around;
    }
}

.w{
    &-full{
        width: 100%!important;
    }
}

.text{
    &-danger{
        color: red;
    }
}

.font{
    &-bold{
        font-weight: bold;
    }
}

#rts-home{
    font-family: $montserrat;
    font-size: 14px;
    line-height: 1.42857143;
    margin-top:11rem;

    .new-section{
        margin: 1.5rem 0px;
        display: block;
        overflow: hidden;
        &.is-flash-sale{
            background-color: $colorWhite;
            padding-bottom: 1rem;
        }
    }

    .category{
        font-family: $roboto;
        letter-spacing: 1px;
        position: relative;
        background-color: $colorWhite;
        &-head{
            background: #CAC4B296;  /* fallback for old browsers */
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $defaultColor;

            .title{
                font-size: 20px;
                font-style: normal;
                letter-spacing: 1px;
                font-weight: bold;
                text-transform: uppercase;
            }

        }

        &-list{
            list-style: none;
            padding-left: 0px;
            border-width: 0 1px 1px 1px;
            border-color: #ddd;
            border-style: solid;
            
            li{
                position: relative;
                a{
                    padding:9.4px 10px;
                    padding-left:15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-self: center;
                }

                .sub-menu{
                    top:0;
                    display:none;
                    position: absolute;
                    left: 98%;
                    z-index: 2;
                    background: $colorWhite;
                    padding: 1rem;
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
                    &-list{
                        padding-left: 0px;
                        display: flex;
                        flex-direction: row;
                        width: 300px;
                        flex-wrap: wrap;
                        li{
                            width: 50%;
                        }
                    }
                }
                &.show{

                    .sub-menu{
                        display: block;
                        opacity: 1;
                        transition: opacity 0.3s;
                    }
    
                }
                &.in{
                    .sub-menu{
                        opacity: 1;
                    }
                }
            }
        }

        &-child{
            margin-bottom: 1rem;
            .cover{
                box-shadow: $extraShadow;
                height: 60px;
                border-radius: 3px;
                color: #2e2b2b;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding:3px 3px 0px 5px;
                font-family: $openSans;
            }
            a{
                font-size: 14px;
                transition:color 0.2s;
                text-align: center;
                &:hover, &:focus{
                    color: #fff;
                }
            }
        }
    }

    .slide{
        &-item{
            position: relative;
            img{
                width: 100%;
            }
        }
        &-widget{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }

        &-thumbnail{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img{
                max-width: 200px;
            }
        }

        &-link{
            h1{
                font-size: 25px;
                color: #ffd600;
                font-weight: bold;
                margin:10px 0px;
            }
            a{
                font-weight: bold;
                
            }
        }
    }

    .slide-control{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        color:$colorWhite;
        background-color: #444;
        z-index: 1;
        transition:all 0.2s;
        &:hover, &:focus{
            background-color: #ffd600;
            color: #000;
        }
        &.prev{
            left: 0;
        }

        &.next{
            right: 0;
        }
        i{
            padding: 10px 15px;
        }
    }

    .slick-dots{
        list-style: none;
    }

    .package{
        position: relative;
        text-align: center;
        margin-bottom: 1rem;
        
        img, a{
            margin:auto;
        }
       

        &-title{
            font-size: 20px;
            display: block;
            text-align: center;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &-price{
            position: absolute;
            display: block;
            font-weight: bold;
            padding: 5px 0.7rem;
            bottom: 0;
            width: 100%;
            color: #ffd600;
            font-size: 14px;
        }

        &-action{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 0;
            transition:opacity 0.3s;
            &:hover, &:focus{
                opacity: 1;
            }
        }

        &-button{
            border-radius: 3px;
        }
    }
}

.widget{
    &-block{
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
    &-header{
        position: relative;
        color: #000;
        h3{
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 0px;
            font-size:19px;
            position: relative;
            span{
                padding: 7px;
                // background-color: $bgDefault;
                background-color: #f96;
                position: relative;

                &::before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    // border-bottom: 37px solid $bgDefault;
                    border-bottom: 37px solid #f96;
                    right: -30px;
                    border-right: 30px solid transparent;
                }
            }
            &::before{
                content: " ";
                display: block;
                border-bottom: 2px solid $bgDefault;
                position: absolute;
                bottom: -8px;
                width: 100%;
            }
        }

        &-link{
            position: absolute;
            right: 0;
            bottom: 0;
            font-family: $palanquin;
        }
    }

    &-body{
        list-style: none;
        margin-top: 8px;
        border: 1px solid #ddd;
        padding-left: 0px;
        form{
            padding:5px;
            margin-top:1rem;
            button{
                border-radius: 0px;
            }
        }
    }

    &-list{
        padding: 1rem 0px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        background-color: $colorWhite;
        &:last-child{
            border-bottom: 0px;
        }
    }

    &-cover{
        width: 45%;
        padding: 3px;
        overflow: hidden;
        border-radius: 3px;
    }

    span{
        &.title{
            font-size: 13px;
            display: block;
            transition:color 0.2s;
            font-family: $openSans;
            &:hover, &:focus{
                color:#1100b1;
            }
        }
        &.price{
            display: block;
            margin-top:1rem;
            font-size: 14px;
            font-weight: bold;
            color:$colorPrice;
        }
    }

    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .widget-btn{
            letter-spacing: 1px;
            font-size: 12px;
            border-radius: 3px;
            padding: 5px 17px;
            text-transform: capitalize;
            border-radius: 5px;
        }
    }
}

.product{
    border: 1px solid #eee;
    margin: 1rem 0px;
    transition: border-color 0.2s;
    background-color: $colorWhite;
    overflow: hidden;
    &:hover, &:focus{
        border-color: #aaa;

        .product-flash li{
            background-color: $bgDefault;
            span{
                color:#000;
            }
        }
    }

    &-cover{
        max-height: 202px;
        overflow: hidden;
        position: relative;
        display: block;
        img{
            max-width: 100%;
            margin: auto;
        }
    }
    &-placeholder{
        position: absolute;
        bottom:100%;
        width: 100%;
    }

    &-content{
        min-height: 100px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
    }

    &-content{
        margin-top:10px;
    }

    &-title{
        padding:0px 5px;
        font-size:12px;
        display: block;
        font-family: $openSans;
        letter-spacing: 1px;
        line-height: inherit;
        transition: color 0.2s;
        font-family: $openSans;
        line-height: 16px;
        &:hover, &:focus{
            color: #1100b1;
        }
    }

    &-price{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 14px;
        font-weight: bold;
        color:$colorPrice;
        &-real{
            color: #807070;
            font-size: 13px;
            position: relative;
            display: inline;
            &:after{
                content: "";
                width: 105%;
                border-bottom: 1px solid #000;
                position: absolute;
                left: -2px;
                top: 50%;
            }
        }
    }

    &-sale{
        text-align: right;
        font-size: 12px;
        color: #1cd62f;
        font-family: $montserrat;
        padding-bottom: 5px;
        &-count{
            padding: 15px;
        }
    }

    &-flag{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .product{
            height: 100%;
        }
    }

    &-discount{
            width: 35px;
            height: 40px;
            background-color: #ee51b2;
            position: absolute;
            top:0;
            right: 0;
            color: #fff;
            text-align: center;
        &-badge{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: relative;
            &:after{
                content:" ";
                width:0;
                height: 0;
                position: absolute;
                bottom: -4px;
                border-style: solid;
                border-width: 0 19px 4px;
                border-color: transparent rgba(238, 81, 178, 0.9);
            }
        }
        span{
            display: block;
        }

        .percent{
            font-size: 11px;
            font-weight: bold;
        }

        .badge-label{
            font-family: $roboto;
            font-size: 12px;
            font-weight: bold;
        }
    }

    &-flash{
        &-cover{
            height: 180px;
            // padding: 10px;
            border-radius: 5px;
            img{
                width: 100%;
            }
        }

        &-content{
            margin-top:10px;
            .progress{
                margin-top:10px;
                &-bar{
                    background-color: #e7679b;
                }
            }
        }

    }
}

.flash-sale{
    background-color: #fff;
    position: relative;
    .col-lg-2{
        padding:5px;
    }

    &-title{
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h2{
        margin:0px;
        padding:15px 15px;
        font-family: $openSans;
        font-size: 25px;
        color: #26a4d5;
        font-weight: bold;
    }

    .flash-time{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        li{
            background: #000;
            color: #fff;
            width: 30px;
            height: 30px;
            margin-right: 3px;
            font-weight: bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


.flash-slide{
    &:hover, &:focus{
        .slick-arrow{
            opacity: 1;
        }
    }
    .slick-arrow{
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0px;
        background-color: #ffd600;
        opacity: 0;
        transition:0.3s;
    }
    .slick-prev{
        left:0;
    }
    
    .slick-next{
        right: 0;
    }
    
    .text-center{
        text-align: center;
    }
    
    .text-right{
        text-align: right;
    }
}

.footer{
   background-color: $colorWhite;
   margin-top: 3rem;
   p{
        text-align: center;
        font-family: $montserrat;
        font-size: 14px;
        letter-spacing: 1px;
    }
}
.sosmed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 5px;
    margin-bottom: 0px;
    &-item{
        margin-right: 10px;
        color: $defaultColor;
        &:last-child{
            margin-right: 0px;
        }
    }
}

.rts-breadcrumb{
    margin-top:12rem;
    .breadcrumb{
        background-color: $colorWhite;
        letter-spacing: 1.5px;
        font-size: 12px;
    }
}

.address{
    padding:0px;
    &-item{
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
        padding-top:1rem;
        position: relative;
        &:first-child{
            padding-top:0px;
        }
        &:last-child{
            border-bottom: 0px;
        }
    }
    span{
        display: block;
    }
    &-person{
        font-weight: bold;
    }
}

.radio{
    &-container{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        input{
            position: absolute;
            width: 30px;
            height: 30px;
            opacity: 0;
            cursor: pointer;
            z-index: 1;

            &:hover, &:focus{
                ~.checkmark{
                    background-color: #ccc;
                }
            }
            
            &:checked{
                ~.checkmark{
                    background-color: $bgDefault;
                    &:after{
                        display: block;
                        background: #3a3636;
                    }
                }
            }
        }

        .checkmark{
            width: 30px;
            height: 30px;
            background: #b8b2b2;
            border-radius: 50%;
            position: relative;
            box-shadow: $boxShadow;
            &:after{
                content:" ";
                display: block;
                background: #fff;
                position: absolute;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.pagination{
    a.active{
        background-color: #269abc!important;
        color: #fff;
    }
}

.block{
    &-product{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.rts-category{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    left: -200%;
    padding-bottom: 0px;
    padding-right: 0px;
    // max-height: 350px;
    li{
        > a{
            padding: 5px 25px;
            i{
                margin-left:5px;
                position: absolute;
                right: 7px;
                top: 9px;
            }
        }
    }

    &-child{
        position: relative;
        &.drop{
            &:hover, &:focus{
                ul{
                    display: flex;
                }
            }
        }
    }
    .link-child{
        position: absolute;
        right: 7px;
        color: #ad9e9e;
        top: 0px;
        padding: 5px 3px;
    }
    .block{
        &-children{
            padding: 5;
            position: absolute;
            top: -10px;
            left: 100%;
            background-color: #fff;
            display: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 0.1px 0 rgba(0, 0, 0, 0.1);
            padding: 5px;
            z-index: 1;
            width: 165%;
            flex-direction: row;
            flex-wrap: wrap;
            &.open{
                display: flex;
            }
            li{
                padding:5px 3px;
                width: 50%;
                a{
                    padding: 0;
                    font-size: 13px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

@import '_product-detail';
@import '_cart';
@import '_order';
@import '_form-order';
@import '_responsive';